<div id="generator">

  <header>
    <h1>Generator</h1>
  </header>
  <!-- output -->
  <div class="output">
    <p class="output-text">
      <input type="text" [value]="password">
    </p>
    <div class="tooltip">
      <button class="output-copy btn" (click)="copyToClipboard()">
        <span class="tooltiptext" [ngClass]="{'visible':copiedmsg}" id="myTooltip">
          password copied!
        </span>
        <fa-icon [icon]="copyIcon" title="Copy Password"></fa-icon>
      </button>
    </div>
    <button class="output-next btn">
      <fa-icon [icon]="refrechIcon" (click)="onButtonClick()" title="Regenerate Password"></fa-icon>
    </button>
  </div>
  <!-- password or username -->
  <div class="choice">
    <p class="title">What would you like to generate?</p>
    <div class="input-group">
      <input type="radio" name="choice" checked id="choice-password">
      <label for="choice-password"> Password</label>
    </div>
    <div class="input-group">
      <input type="radio" name="choice" id="choice-username" disabled>
      <label for="choice-username"> Username</label>
    </div>

  </div>
  <h4>OPTIONS</h4>
  <div class="options">
    <div class="type">
      <p class="title">Password Type</p>
      <div class="input-group">
        <input type="radio" name="type" checked id="type-password">
        <label for="type-password"> Password</label>
      </div>
      <div class="input-group">
        <input type="radio" name="type" id="type-username" disabled>
        <label for="type-username"> Passphrase</label>
      </div>
    </div>

    <div class="options-a">
      <div class="input-group">
        <label for="Length">Length
          <input type="number" name="" id="Length" min="5" max="120" [value]="length"
            (input)="onChangeLength($any($event.target).value)">
        </label>
        <input type="range" name="" id="Length" min="5" max="120" [value]="length" step="1"
          (input)="onChangeLength($any($event.target).value)">
      </div>
      <div class="input-group">
        <label for="az-majuscule">A-Z</label>
        <input type="checkbox" (change)="onChangeUseLettersM()" [checked]="includeLettersM" id="az-majuscule">
      </div>
      <div class="input-group">
        <label for="az-miniscule">a-z</label>
        <input type="checkbox" (change)="onChangeUseLettersm()" [checked]="includeLettersm" checked id="az-miniscule">
      </div>
      <div class="input-group">
        <label for="numbers">0-9</label>
        <input type="checkbox" (change)="onChangeUseNumbers()" [checked]="includeNumbers" id="numbers">
      </div>
      <div class="input-group">
        <label for="symbols">!@#$%&*^</label>
        <input type="checkbox" (change)="onChangeUseSymbols()" [checked]="includeSymbols" id="symbols">
      </div>

    </div>
  </div>
  <div class="generate">
    <button [disabled]="!(length && (includeLettersm || includeLettersM ||includeSymbols || includeNumbers))"
      (click)="onButtonClick()">Generate!</button>
  </div>

</div>
